{% extends 'base.html' %}

{% block content %}
  <div class="top-header">
    <h1>Football-Lock Shop</h1>
    <h2>{{ name }} - {{ class }}</h2>
  </div>

  <div class="product-section">
    <h2>Limited Products</h2>
    <a href="{% url 'main:product_list' %}" class="btn">See All Products</a>
    <a href="{% url 'main:logout' %}">
    <button>Logout</button>
    </a>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <a href="?filter=all">
    <button type="button">All Products</button>
    </a>
    <a href="?filter=my">
        <button type="button">My Products</button>
</a>
  </div>

  <footer>
    <p>Football-Lock Shop - Made by {{ name }}</p>
  </footer>
{% endblock content %}
